body {
  font-family: monospace;
  padding: 1em;
}

header {
  margin-bottom: 3em;
}

header > h1 {
  margin-bottom: 0;
}

header > p {
  margin-top: 0;
}

.work {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
}

.work > p {
  margin-top: 0;
}

img {
  --thumbnail-width: 10em;
  width: var(--thumbnail-width);
  height: calc(var(--thumbnail-width) * 9 / 16);
}
